#kaocha/v1
{:tests [{:id          :unit
          :test-paths  ["test"]
          :ns-patterns [".*-test$"]
          :skip-meta   [:adversarial]}
         {:id          :adversarial
          :test-paths  ["test"]
          :ns-patterns [".*-test$"]
          :focus-meta  [:adversarial]}]
 :plugins  [:kaocha.plugin/profiling
            :kaocha.plugin/randomize]
 :randomize? true
 :reporter  kaocha.report/documentation
 :color?    true}
